In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.shape

(891, 12)

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.dropna(axis=1, inplace=True)

In [5]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [6]:
df.shape

(891, 9)

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500

In [8]:
inputs = df.drop(["PassengerId","Name","SibSp","Parch","Ticket"],axis="columns")

In [9]:
inputs.head()

   Survived  Pclass     Sex     Fare
0         0       3    male   7.2500
1         1       1  female  71.2833
2         1       3  female   7.9250
3         1       1  female  53.1000
4         0       3    male   8.0500

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
inputs['sex'] = le.fit_transform(inputs["Sex"])

In [12]:
inputs.head()

   Survived  Pclass     Sex     Fare  sex
0         0       3    male   7.2500    1
1         1       1  female  71.2833    0
2         1       3  female   7.9250    0
3         1       1  female  53.1000    0
4         0       3    male   8.0500    1

In [13]:
inputs.drop(["Sex"],axis="columns",inplace=True)
inputs.head()

   Survived  Pclass     Fare  sex
0         0       3   7.2500    1
1         1       1  71.2833    0
2         1       3   7.9250    0
3         1       1  53.1000    0
4         0       3   8.0500    1

In [14]:
from sklearn.model_selection import train_test_split
X,y=inputs.drop(['Survived'],axis=1),inputs.Survived
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [26]:
X_train.shape

(712, 3)

In [27]:
X_test.shape

(179, 3)

In [22]:
from sklearn import tree

In [23]:
model = tree.DecisionTreeClassifier()

In [24]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [25]:
model.score(X_test,y_test)

0.8212290502793296